*{
    box-sizing: border-box;
}
/*border padding values to width and height*/

body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: cadetblue;
}

h1, h2, h3 {
    font-weight: normal;
    /*Set normal font-weight for h1, h2 and h3 tags*/
}


#menu {
    list-style: none;
    padding: 0;
    margin: 0;
    /*Set style for menu, including list-style, padding, and margin*/
}

a {
    text-decoration: none;
    /*Set style for links*/
}

nav ul li {
    width: 100%;
    text-align: center;
    padding: 10px;
    /*Set style for each list item in the navigation menu, including width, text-align, and padding*/
}

nav ul li:last-child {
    margin-right:0;
    /* Set Margin right to 0 for the last item in the navigation menu*/
    
}

nav ul li a {
    color: white;
    /*Set white font color for navigation menu */
}





