*{
    box-sizing: border-box;
}
/*border padding values to width and height*/

body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: cadetblue;
}

h1, h2, h3 {
    font-weight: normal;
    /*Set normal font-weight for h1, h2 and h3 tags*/
}


#menu {
    list-style: none;
    padding: 0;
    margin: 0;
    /*Set style for menu, including list-style, padding, and margin*/
}

a {
    text-decoration: none;
    /*Set style for links*/
}

nav ul li {
    width: 100%;
    text-align: center;
    padding: 10px;
    /*Set style for each list item in the navigation menu, including width, text-align, and padding*/
}

nav ul li:last-child {
    margin-right:0;
    /* Set Margin right to 0 for the last item in the navigation menu*/
    
}

nav ul li a {
    color: white;
    /*Set white font color for navigation menu */
}

.container {
    width: 720px;
    height: fit-content;
    margin: 0 auto;
    background-color: #d4e9e7;
    /*Set style for the container element including width, height, margin and bg color*/

}

h1 {
    position:absolute;
    top: 60%;
    color: white;
    size: 56px;
    text-align: center;
    /*Set styles for the header element including position, color and text align*/
}

.banner {
    position: relative;
    padding: 0;
    margin: 0 auto;
    /*set the position element,padding and margin for banner*/

}

#menu li:not(:first-child):not(:last-child) {
    display: inline-block;
    border-right: 1px solid black;
    border-left: 1px solid black;
    /*Set styles for menu items in the navigation menu, including border and text transform*/
}


#menu li:last-child {
    border-right: none;
    /*Set border-right to none for the item in the nav menu*/


}

.banner {
    background-image: url("../images/lone-starfish-wide.jpg");
    background-size: cover;
    background-position: center;
    height: 250px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /*set the style for banner - position and align for bg image and text*/


}

main {
    padding: 8px;
    /*padding to main content*/

}

main h3{
    font-weight: 600;
    /*set font weight to main section h3 heading*/
}









