body {
    font-family: 'Open Sans' sans-serif;
}

a {
    text-decoration: none;
}

header,
main,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    padding: 10px;
}

img {
    max-width: 100%;
    height: auto;
}


/*Navigation*/
header {
    background-color: #222;

}

nav {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100%-20px);
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

nav ul li {
    width: 100%;

}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    width: 100%;
}

.search-container {
    width: 100%;
}

.search-container form {
    display: flex;
    width: 100%;
}

.search-container input[type="text"] { /*Container for search */
    flex: 1;
    padding: 8px;
    border: none;
    font-size: 17px;
}

/*
.search-container button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 8px;
    font-size: 17px;
    cursor: pointer;
}
*/


.nav-item {
    padding: 20px 0;
    color: #c78c06;
    text-align: center;
}

.nav-item a {
    color: #c78c06;
    font-size: 1.5rem;
}

/*nav bg */
.nav-item:hover {
    background-color: #c78c06;
}

.nav-item:hover a {
    color: #222;
}


/*
#logo {
    background-color: #c78c06;
}
*/

#logo a img {
    width: 100%;
    max-width: 130px;
    height: auto;

}

/*Banner Section*/
.hero {
    background-image: url(../images/main-banner.jpg);
    height: 700px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    
}

.hero-back {
    background-color: black (0,0,0,0.5);
    margin: 70px; 0;

}

.hero-text {
    margin: 1.5rem;
    color: white;
}

.hero-text h1 {
    font-size: 3.25rem;
    font-weight: 600;
    line-height: 1;
}

.hero-text p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.hero-text button { 
    background-color: #c78c06;
    font-size: 1.5rem;
    outline: none;
    border: none;
    cursor: pointer;
    height: 5rem;
    padding: 0 1.5rem;
}


/*About us section*/

.about-us {
    background-color: #ffe6ac;
    width: 100%;
}

.about-content {
    font-size: 3rem;
    margin: 1.5rem 0;
    font-weight: 600;
}


/*css styles - about section*/
.about-img {
/*Set the image width equal to parent container width*/
width: 100%;
/*Aspect ratio of the image*/
height: auto;
/*Remove any extra space */
display: block;
}



/*Service Section*/
.service-section {
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
}

.service.img {
    /*Set the image to be equal to the parent container's width*/
    width: 100%;
    /*Aspect ration of the img*/
    height: auto;
    /*Remove any extra spaces*/
    display: block;
}

.service-section h2 {
    font-size: 3rem;
    margin: 1.5rem 0;
    font-weight: 600;
}


.service,
.Service { 
    background-color: #ffe6ac;
    margin-bottom: 1.5rem;
}

.info { 
    padding: 10px;
}

.info h3 { /*Service types heading*/
    font-size: 2rem;
    margin: 1.5rem 0;
    font-weight: 600;
}

.info p {
    margin-bottom: 1.5rem;

}


.info button {
    background-color: #222;
    color: white;
    font-size: 1.5rem;
    outline: none;
    border: none;
    cursor: pointer;
    height: 5rem;
    padding: 0 1.5rem;
}







/***********************    vision section ***********************************/

.our-vision {
    background-image: url(../images/vision.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    
}

.vision-content {
    margin: 1.5rem 0;
}

.our-vision h2 {
    font-size: 3rem;
    font-weight: 600;
}





/*****************************************************I will continue this later ****************************************/


/* **************************************** TEAM ***********************************/ 

.our-team {
    width: calc(100%-20px);
}

.our-team h2 {
    font-size: 3rem;
    margin: 1.5rem 0;
    font-weight: 600;
}

.team-card h2 {
    font-size: 3rem;
    margin: 1.5rem 0;
    font-weight: 600;
}

.team-card {
    display: flex;
    flex-direction: column;
}

.team-card img {
    width: 100%; /*img width equal to parent container's width*/
    height: auto;
    display: block;
}

.team-card {
    background-color: #ffe6ac;
    margin-bottom: 1.5rem;

}

team-card h2 {
    font-size: 3rem;
    margin: 1.5rem 0;
    font-weight: 600;
}

.team-text {
    padding: 10px;
}

.team-text h2 {
    font-size: 3rem;
    margin: 1.5rem 0;
    font-weight: 600;
}

.team-text .title {
    border-bottom: 2px solid #c78c06;
    padding: 5px 0;
}


/****************************************************** CONTACT SECTION ***************************************************/

/*Form*/
.contact-us label,
.contact-us input {
    display: block;
    font-size: 1.25em;
    margin: 10px 0;
    width: calc (100% - 10px);
}


.contact-us textarea {
    display: block;
    height: 150px;
    min-height: 150px;
    max-height: 150px;
    width: calc(100% - 10px);
}

/****FIX THIS LATER****/
.contact-us form button {
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: #222;
    color: #c78c06;
    border: none;
    outline: none;
    cursor: pointer;
}

.contact-us h2 {
    font-size: 3rem;
    margin: 3rem 0;
    font-weight: 600;
}

.contact-us h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
}





/*********************** MAP ***************************************/

.iframe-container {
    width: 100%;
    height: 500px;
    position: relative;
}

.map h3 {
    margin-bottom: 1.5em;

}

.iframe-container iframec{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}






/************************************* COMPANY INFORMATION ************************************************************/
table,
td,
th {
    border: 1px solid;

}

th {
    background-color: #ffe6ac;
}

.contact-us {
    width: calc(100% - 20px);
}

.contact-us table {
    border-collapse: collapse;
}

.contact-us table {
    width: 100%;
    margin-bottom: 1.5rem;
}

td,
th {
    padding: 1rem;
}

/*********************************************** FOOTER **********************************************/

footer {
    background-color: #222;
    color: #c78c06;
}

footer.container a { /*Unsplash*/
    color: #a43ab9;
    text-decoration: underline;
}

footer .container p:first-child {
    margin-bottom: 1.5rem;
}


/*Media query for screen sizes of 690px and under*/
@media  and (max-width: 960px) {
    .nav-item a {
        font-size: 1rem;
    }
    
}

/*Media query for screen sizes of 760px and above*/
@media screen and (min-width: 760px) {
    body {
        margin: 8px;
    }

    nav,
    .hero-text,
    .container {
        padding: 1.5rem;
    }

    .container {
        max-width: 1200px;
        padding: 0%;
    }

    
}


/*************************************************** NAV SECTION ****************************************************************************/

nav {
    width: 100%;
    flex-direction: row;
    margin: 1.5rem;
}

nav ul {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav li {
    margin: 0;
    width: auto;
}

nav a {
    width: auto;
}

#logo {
    order: -1;
    margin-right: 1.5rem;
}

.search-container {
    margin-left: 1.5rem;
    width: auto;
}

/***************************************** BANNER SECTION ***********************************************************/

.hero {
    background-image: url(../images/main-banner.jpg);
    height: 700px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.hero-back {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 70px 0;
}

.hero-text { /*content*/
    margin: 1.5rem;
    color: #fff;
}

.hero-text h1 { 
    font-size: 6.25rem;
    font-weight: 600;
}

.hero-text p {
    font-weight: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

/*
.hero-text button {
    background-color: #c78c06;
    font-size: 1.5rem;
    outline: none;
    border: none;
    cursor: pointer;
    height: 7rem;
    padding: 0 1.5rem;
}

*/


/************************************ ABOUT US ***********************************************/
.about-us {
    display: flex;
    justify-content: center;

}

.about-content {
    grid-template-columns: auto auto;
    margin: 1.5rem 0;
}

.about-text {
    margin-left: 1.5rem;
}

/************************ TEAM SECTION**************************************8/


