body {
    font-family: 'Open Sans' sans-serif;
}

a {
    text-decoration: none;
}

header,
main,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    padding: 10px;
}

img {
    max-width: 100%;
    height: auto;
}


/*Navigation*/
header {
    background-color: #222;

}

nav {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100%-20px);
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

nav ul li {
    width: 100%;

}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    width: 100%;
}

.search-container {
    width: 100%;
}

.search-container form {
    display: flex;
    width: 100%;
}

.search-container input[type="text"] { /*Container for search */
    flex: 1;
    padding: 8px;
    border: none;
    font-size: 17px;
}

/*
.search-container button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 8px;
    font-size: 17px;
    cursor: pointer;
}
*/


.nav-item {
    padding: 20px 0;
    color: #c78c06;
    text-align: center;
}

.nav-item a {
    color: #c78c06;
    font-size: 1.5rem;
}

/*nav bg */
.nav-item:hover {
    background-color: #c78c06;
}






